Extra Exercises

In [24]:
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [2]:
data = pd.read_csv("C:\\Users\\CYTech Student\\moncompteformation_formations_engagees.csv", header=0, delimiter=";")
print("The head of the dataset is -")
print(data.head())
data.columns

The head of the dataset is -
  date_chargement date validation                statut_dossier  \
0      2023-12-01         2022-07  Clos - Réalisation Partielle
1      2023-12-01         2022-07  Clos - Réalisation Partielle
2      2023-12-01         2022-07  Clos - Réalisation Partielle
3      2023-12-01         2022-07  Clos - Réalisation Partielle
4      2023-12-01         2022-07  Clos - Réalisation Partielle

  type_referentiel type_formation2  code_rs  code_rncp  \
0             RNCP             NaN       -1      34029
1            Autre           Autre       -1         -1
2            Autre           Autre       -1         -1
3            Autre           Autre       -1         -1
4            Autre           Autre       -1         -1

                               domaine_formation_nsf  formacode_principal  \
0  Spécialités plurivalentes des échanges et de l...                  NaN
1  Developpement des capacités d orientation,d in...              15081.0
2  Developpement des capacités d orientation,d in...              15081.0
3  Developpement des capacités d orientation,d in...              15064.0
4  Developpement des capacités d orientation,d in...              15064.0

  libelle_formacode_principal  ... part_cec Code Officiel Département  \
0                         NaN  ...        0                       NaN
1         Bilan professionnel  ...        0                        50
2         Bilan professionnel  ...        0                        81
3             Préparation VAE  ...        0                        64
4             Préparation VAE  ...        0                        14

  Code Officiel Région  Nom Officiel Département Majuscule  \
0                  NaN                                 NaN
1                 28.0                              MANCHE
2                 76.0                                TARN
3                 75.0                PYRENEES ATLANTIQUES
4                 28.0                            CALVADOS

   année de validation  code_certifinfo              intitule_certification  \
0                 2022         100365.0  BTS Support à l'action managériale
1                 2022          93559.0                Bilan de compétences
2                 2022          93559.0                Bilan de compétences
3                 2022          83899.0                  Accompagnement VAE
4                 2022          83899.0                  Accompagnement VAE

   code_region_lieu_formation  code_postal_lieu_formation  Mois de validation
0                          NC                          NC                   7
1                          28                       50200                   7
2                          76                       81000                   7
3                          75                       64000                   7
4                          28                       14000                   7

[5 rows x 43 columns]

Index(['date_chargement', 'date validation', 'statut_dossier',
       'type_referentiel', 'type_formation2', 'code_rs', 'code_rncp',
       'domaine_formation_nsf', 'formacode_principal',
       'libelle_formacode_principal', 'modalite_presence',
       'region_lieu_formation', 'departement_lieu_formation', 'nb_dossiers',
       'nb_titulaires', 'prix_moyen', 'nb_dossiers_a_duree_connue',
       'duree_moyenne', 'montant_engage', 'part_france_competences',
       'nb_dossiers_finances_par_titulaires', 'part_titulaire',
       'nb_dossiers_finances_par_etat', 'part_etat',
       'nb_dossiers_finances_par_pole_emploi', 'part_pole_emploi',
       'nb_dossiers_finances_par_regions', 'part_region',
       'nb_dossiers_finances_par_opco', 'part_opco',
       'nb_dossiers_finances_par_entreprises', 'part_entreprise',
       'nb_dossiers_finances_par_cec', 'part_cec', 'Code Officiel Département',
       'Code Officiel Région', 'Nom Officiel Département Majuscule',
       'année de validation', 'code_certifinfo', 'intitule_certification',
       'code_region_lieu_formation', 'code_postal_lieu_formation',
       'Mois de validation'],
      dtype='object')

2.1 Lambda and functions - Explain what lambda is used for when applying it to functions in Python. Apply
the lambda approach to the application of functions to replace values in
”Formations engag´ees” - Nom du d´epartement - from ”Paris” to ”Capitale”.

In [3]:
data["Nom Officiel Département Majuscule"] = data["Nom Officiel Département Majuscule"].apply(lambda x: str(x).replace('Paris','Capitale'))
print(data)

        date_chargement date validation                statut_dossier  \
0            2023-12-01         2022-07  Clos - Réalisation Partielle
1            2023-12-01         2022-07  Clos - Réalisation Partielle
2            2023-12-01         2022-07  Clos - Réalisation Partielle
3            2023-12-01         2022-07  Clos - Réalisation Partielle
4            2023-12-01         2022-07  Clos - Réalisation Partielle
...                 ...             ...                           ...
1387008      2023-12-01         2022-12     Clos - Réalisation Totale
1387009      2023-12-01         2022-12     Clos - Réalisation Totale
1387010      2023-12-01         2022-12     Clos - Réalisation Totale
1387011      2023-12-01         2022-12     Clos - Réalisation Totale
1387012      2023-12-01         2022-12     Clos - Réalisation Totale

        type_referentiel type_formation2  code_rs  code_rncp  \
0                   RNCP             NaN       -1      34029
1                  Autre           Autre       -1         -1
2                  Autre           Autre       -1         -1
3                  Autre           Autre       -1         -1
4                  Autre           Autre       -1         -1
...                  ...             ...      ...        ...
1387008             RNCP             NaN       -1      35288
1387009             RNCP             NaN       -1      36112
1387010             RNCP             NaN       -1      35228
1387011             RNCP             NaN       -1      35228
1387012             RNCP             NaN       -1      34545

                                     domaine_formation_nsf  \
0        Spécialités plurivalentes des échanges et de l...
1        Developpement des capacités d orientation,d in...
2        Developpement des capacités d orientation,d in...
3        Developpement des capacités d orientation,d in...
4        Developpement des capacités d orientation,d in...
...                                                    ...
1387008  Informatique, traitement de l'information, rés...
1387009                Travail du bois et de l'ameublement
1387010                   Habillement (y.c. mode, couture)
1387011                   Habillement (y.c. mode, couture)
1387012  Informatique, traitement de l'information, rés...

         formacode_principal  \
0                        NaN
1                    15081.0
2                    15081.0
3                    15064.0
4                    15064.0
...                      ...
1387008                  NaN
1387009                  NaN
1387010                  NaN
1387011                  NaN
1387012              31026.0

                               libelle_formacode_principal  ... part_cec  \
0                                                      NaN  ...        0
1                                      Bilan professionnel  ...        0
2                                      Bilan professionnel  ...        0
3                                          Préparation VAE  ...        0
4                                          Préparation VAE  ...        0
...                                                    ...  ...      ...
1387008  Intelligence artificielle|Mathématiques appliq...  ...        0
1387009  Ameublement|Menuiserie bois|Menuiserie agencement  ...        0
1387010  Essayage retouche|Couture|Vêtement|Vêtement fé...  ...        0
1387011  Essayage retouche|Couture|Vêtement|Vêtement fé...  ...        0
1387012                                       Data science  ...        0

        Code Officiel Département Code Officiel Région  \
0                             NaN                  NaN
1                              50                 28.0
2                              81                 76.0
3                              64                 75.0
4                              14                 28.0
...                           ...                  ...
1387008                        69                 84.0
1387009                        13                 93.0
1387010                        44                 52.0
1387011                        81                 76.0
1387012                       NaN                  NaN

         Nom Officiel Département Majuscule  année de validation  \
0                                       nan                 2022
1                                    MANCHE                 2022
2                                      TARN                 2022
3                      PYRENEES ATLANTIQUES                 2022
4                                  CALVADOS                 2022
...                                     ...                  ...
1387008                               RHONE                 2022
1387009                    BOUCHES DU RHONE                 2022
1387010                    LOIRE ATLANTIQUE                 2022
1387011                                TARN                 2022
1387012                                 nan                 2022

         code_certifinfo                         intitule_certification  \
0               100365.0             BTS Support à l'action managériale
1                93559.0                           Bilan de compétences
2                93559.0                           Bilan de compétences
3                83899.0                             Accompagnement VAE
4                83899.0                             Accompagnement VAE
...                  ...                                            ...
1387008         110593.0  Concepteur développeur en science des données
1387009         110405.0                        CAP Menuisier fabricant
1387010         110271.0                        TP Couturier retoucheur
1387011         110271.0                        TP Couturier retoucheur
1387012         108013.0                                 Data scientist

         code_region_lieu_formation  code_postal_lieu_formation  \
0                                NC                          NC
1                                28                       50200
2                                76                       81000
3                                75                       64000
4                                28                       14000
...                             ...                         ...
1387008                          84                       69002
1387009                          93                       13014
1387010                          52                       44100
1387011                          76                       81310
1387012                          NC                          NC

         Mois de validation
0                         7
1                         7
2                         7
3                         7
4                         7
...                     ...
1387008                  12
1387009                  12
1387010                  12
1387011                  12
1387012                  12

[1387013 rows x 43 columns]

2.2 Pandas options - Change the options within pandas to change the number of decimals that would
be displayed when you print numbers. It should start like that : pd.set option(...).
Display an example to show that your code works, once with one decimal, once
with two.

In [4]:
#For one decimal
pd.set_option('display.float_format', '{:.1f}'.format)

data3 = {'Value': [3.14159, 2.71828, 42.12345]}
df = pd.DataFrame(data3)

#One decimal print
print("DataFrame with one decimal:")
print(df)

#For two decimals
pd.set_option('display.float_format', '{:.2f}'.format)

#two decimals print
print("\nDataFrame with two decimals:")
print(df)

DataFrame with one decimal:
   Value
0    3.1
1    2.7
2   42.1

DataFrame with two decimals:
   Value
0   3.14
1   2.72
2  42.12

2.3 select dtypes - Use the CPF dataset for this one. dtype has include and exclude parameters
that you can use to select columns including or excluding certain data types.
After having turned the year date into a date format, apply dtype to select only
column with dates, and once more to exclude such a column.

In [5]:
data['année de validation'] = pd.to_datetime(data['année de validation'])

# Select only columns with datetime data type
date_columns = data.select_dtypes(include='datetime64[ns]')
print("Columns with datetime data type:")
print(date_columns)

# Exclude columns with datetime data type
non_date_columns = data.select_dtypes(exclude='datetime64[ns]')
print("Columns excluding datetime data type:")
print(non_date_columns)

Columns with datetime data type:
                  année de validation
0       1970-01-01 00:00:00.000002022
1       1970-01-01 00:00:00.000002022
2       1970-01-01 00:00:00.000002022
3       1970-01-01 00:00:00.000002022
4       1970-01-01 00:00:00.000002022
...                               ...
1387008 1970-01-01 00:00:00.000002022
1387009 1970-01-01 00:00:00.000002022
1387010 1970-01-01 00:00:00.000002022
1387011 1970-01-01 00:00:00.000002022
1387012 1970-01-01 00:00:00.000002022

[1387013 rows x 1 columns]
Columns excluding datetime data type:
        date_chargement date validation                statut_dossier  \
0            2023-12-01         2022-07  Clos - Réalisation Partielle
1            2023-12-01         2022-07  Clos - Réalisation Partielle
2            2023-12-01         2022-07  Clos - Réalisation Partielle
3            2023-12-01         2022-07  Clos - Réalisation Partielle
4            2023-12-01         2022-07  Clos - Réalisation Partielle
...                 ...             ...                           ...
1387008      2023-12-01         2022-12     Clos - Réalisation Totale
1387009      2023-12-01         2022-12     Clos - Réalisation Totale
1387010      2023-12-01         2022-12     Clos - Réalisation Totale
1387011      2023-12-01         2022-12     Clos - Réalisation Totale
1387012      2023-12-01         2022-12     Clos - Réalisation Totale

        type_referentiel type_formation2  code_rs  code_rncp  \
0                   RNCP             NaN       -1      34029
1                  Autre           Autre       -1         -1
2                  Autre           Autre       -1         -1
3                  Autre           Autre       -1         -1
4                  Autre           Autre       -1         -1
...                  ...             ...      ...        ...
1387008             RNCP             NaN       -1      35288
1387009             RNCP             NaN       -1      36112
1387010             RNCP             NaN       -1      35228
1387011             RNCP             NaN       -1      35228
1387012             RNCP             NaN       -1      34545

                                     domaine_formation_nsf  \
0        Spécialités plurivalentes des échanges et de l...
1        Developpement des capacités d orientation,d in...
2        Developpement des capacités d orientation,d in...
3        Developpement des capacités d orientation,d in...
4        Developpement des capacités d orientation,d in...
...                                                    ...
1387008  Informatique, traitement de l'information, rés...
1387009                Travail du bois et de l'ameublement
1387010                   Habillement (y.c. mode, couture)
1387011                   Habillement (y.c. mode, couture)
1387012  Informatique, traitement de l'information, rés...

         formacode_principal  \
0                        NaN
1                   15081.00
2                   15081.00
3                   15064.00
4                   15064.00
...                      ...
1387008                  NaN
1387009                  NaN
1387010                  NaN
1387011                  NaN
1387012             31026.00

                               libelle_formacode_principal  ...  \
0                                                      NaN  ...
1                                      Bilan professionnel  ...
2                                      Bilan professionnel  ...
3                                          Préparation VAE  ...
4                                          Préparation VAE  ...
...                                                    ...  ...
1387008  Intelligence artificielle|Mathématiques appliq...  ...
1387009  Ameublement|Menuiserie bois|Menuiserie agencement  ...
1387010  Essayage retouche|Couture|Vêtement|Vêtement fé...  ...
1387011  Essayage retouche|Couture|Vêtement|Vêtement fé...  ...
1387012                                       Data science  ...

        nb_dossiers_finances_par_cec part_cec Code Officiel Département  \
0                                  0        0                       NaN
1                                  0        0                        50
2                                  0        0                        81
3                                  0        0                        64
4                                  0        0                        14
...                              ...      ...                       ...
1387008                            0        0                        69
1387009                            0        0                        13
1387010                            0        0                        44
1387011                            0        0                        81
1387012                            0        0                       NaN

         Code Officiel Région  Nom Officiel Département Majuscule  \
0                         NaN                                 nan
1                       28.00                              MANCHE
2                       76.00                                TARN
3                       75.00                PYRENEES ATLANTIQUES
4                       28.00                            CALVADOS
...                       ...                                 ...
1387008                 84.00                               RHONE
1387009                 93.00                    BOUCHES DU RHONE
1387010                 52.00                    LOIRE ATLANTIQUE
1387011                 76.00                                TARN
1387012                   NaN                                 nan

         code_certifinfo                         intitule_certification  \
0              100365.00             BTS Support à l'action managériale
1               93559.00                           Bilan de compétences
2               93559.00                           Bilan de compétences
3               83899.00                             Accompagnement VAE
4               83899.00                             Accompagnement VAE
...                  ...                                            ...
1387008        110593.00  Concepteur développeur en science des données
1387009        110405.00                        CAP Menuisier fabricant
1387010        110271.00                        TP Couturier retoucheur
1387011        110271.00                        TP Couturier retoucheur
1387012        108013.00                                 Data scientist

         code_region_lieu_formation  code_postal_lieu_formation  \
0                                NC                          NC
1                                28                       50200
2                                76                       81000
3                                75                       64000
4                                28                       14000
...                             ...                         ...
1387008                          84                       69002
1387009                          93                       13014
1387010                          52                       44100
1387011                          76                       81310
1387012                          NC                          NC

         Mois de validation
0                         7
1                         7
2                         7
3                         7
4                         7
...                     ...
1387008                  12
1387009                  12
1387010                  12
1387011                  12
1387012                  12

[1387013 rows x 42 columns]

2.4 Clip - Create a dataframe with one column (name : col) and 15 rows. Fill these rows
with integers randomingly taken from the 10 to 50 interval. Clip the data at 20
(lower limit) and 30 (upper limit) and print the resulting dataframe

In [6]:
df = pd.DataFrame({'col': np.random.randint(10, 51, size=15)})
df['col'] = df['col'].clip(lower=20, upper=30)
print(df)

    col
0    24
1    20
2    30
3    28
4    20
5    30
6    20
7    20
8    30
9    30
10   30
11   30
12   23
13   30
14   30

2.5 between time - Create a time series of events encompassing an entire day, separated by 10 minutes,
and use the between time function to select events that occurred between
09h40 and 12h20. Print the results (head only, 10 entries).

In [7]:
start_time = '2023-01-01 00:00:00'
end_time = '2023-01-01 23:50:00'
time_index = pd.date_range(start=start_time, end=end_time, freq='10T')
events = pd.DataFrame({'event': np.arange(len(time_index))}, index=time_index)

selected_events = events.between_time('09:40', '12:20')

print(selected_events.head(10))

                     event
2023-01-01 09:40:00     58
2023-01-01 09:50:00     59
2023-01-01 10:00:00     60
2023-01-01 10:10:00     61
2023-01-01 10:20:00     62
2023-01-01 10:30:00     63
2023-01-01 10:40:00     64
2023-01-01 10:50:00     65
2023-01-01 11:00:00     66
2023-01-01 11:10:00     67

2.6 time, missing values - You will use the Melbourne Housing dataset melb house.csv
1. During the import phase, do not read all the columns, but subset the
raw data by using usecols. Focus on the following variables : ”Suburb”,
”Date”, ”Type”, ”Regionname”, ”Distance”, ”Price”
2. Count the number of missing values per column
3. Drop the missing values
4. Create a column that shows the price in millions. It can be calculated
simply by dividing the price column with 1 million.
5. The new column is added at the end of the data frame. Using insert,
insert it next to the price column.
6. Encode categorical (of variable ”type”)
7. Count the number of unique Region names
8. Extract the year and month from the date
9. Use the rank function to provide a ranking of the prices
10. Sort values according to this ranking

In [8]:
data2 = pd.read_csv("H:\Downloads\melb_house.csv", header=0, delimiter=",")

#1. Importing data with subset of columns
selected_columns = ['suburb', 'date', 'type', 'region_name', 'distance', 'price']
melb_house_data = pd.read_csv("H:\Downloads\melb_house.csv", usecols=selected_columns)

#2. Count the number of missing values per column
missing_values_count = melb_house_data.isnull().sum()
print("Number of missing values per column:\n", missing_values_count)

#3. Drop the missing values
melb_house_data = melb_house_data.dropna()

#4.Create a column that shows the price in millions. It can be calculated simply by dividing the price column with 1 million.
melb_house_data['price_millions'] = melb_house_data['price'] / 1_000_000

#5. The new column is added at the end of the data frame. Using insert,insert it next to the price column
if 'price_millions' not in melb_house_data.columns:
    melb_house_data.insert(melb_house_data.columns.get_loc('price') + 1, 'price_millions', melb_house_data['price'] / 1_000_000)


#6. Encode categorical (of variable ”type”)
melb_house_data = pd.get_dummies(melb_house_data, columns=['type'], prefix='type', drop_first=True)

#7. Count the number of unique Region names
unique_region_names = melb_house_data['region_name'].nunique()
print("Number of unique Region names:", unique_region_names)

#8.) Extract the year and month from the date
melb_house_data['year'] = pd.to_datetime(melb_house_data['date']).dt.year
melb_house_data['month'] = pd.to_datetime(melb_house_data['date']).dt.month

#9.) Use the rank function to provide a ranking of the prices

melb_house_data['price_rank'] = melb_house_data['price'].rank(ascending=False)

#10.) Sort values according to this ranking
melb_house_data_sorted = melb_house_data.sort_values(by='price_rank')

#Result
print("The result for the new data set is: ", melb_house_data_sorted.head())

Number of missing values per column:
 suburb            0
type              0
price          7610
date              0
distance          1
region_name       3
dtype: int64
Number of unique Region names: 8
The result for the new data set is:             suburb       price        date  distance  \
25635    Brighton 11200000.00  2017-10-28     10.50
19583    Mulgrave  9000000.00  2017-07-29     18.80
12539  Canterbury  8000000.00  2017-05-13      9.00
15696    Hawthorn  7650000.00  2017-06-17      5.30
28334    Armadale  7000000.00  2017-11-25      6.30

                      region_name  price_millions  type_t  type_u  year  \
25635       Southern Metropolitan           11.20   False   False  2017
19583  South-Eastern Metropolitan            9.00   False   False  2017
12539       Southern Metropolitan            8.00   False   False  2017
15696       Southern Metropolitan            7.65   False   False  2017
28334       Southern Metropolitan            7.00   False   False  2017

       month  price_rank
25635     10        1.00
19583      7        2.00
12539      5        3.00
15696      6        4.00
28334     11        5.00

2.7 Rolling window - Use the ”apple” dataset to apply a rolling window where you compute the mean
value for all columns from ”close” to ”low”. Provide a print of the head (10
entries) of your newly created datasets for two different window sizez (3 and 5).

In [27]:
#reading apple csv
data3 = pd.read_csv("H:\\Downloads\\apple.csv", header=0, delimiter=",")

coltoavg = ['close', 'volume', 'open', 'high', 'low']

#Setting the window sizes for 3 and 5
windowsizes = [3, 5]

data3['volume'] = pd.to_numeric(data3['volume'].str.replace(',', ''), errors='coerce')

#Creating a new DataFrame for each window size
for window_size in windowsizes:
    #Rolling mean to the specified columns
    rollingmean = data3[coltoavg].rolling(window=window_size).mean()

    #Combine the rolling mean with the date column
    result = pd.concat([data3['date'], rollingmean], axis=1)

    #Result
    print(f"\nHead of the dataset with window size {window_size}:\n")
    print(result.head(10))

Head of the dataset with window size 3:

         date  close      volume   open   high    low
0       16:00    NaN         NaN    NaN    NaN    NaN
1  2018/11/13    NaN         NaN    NaN    NaN    NaN
2  2018/11/12 192.88 48086061.33 194.12 198.07 192.23
3  2018/11/09 196.96 44011500.00 198.73 201.01 195.83
4  2018/11/08 202.38 36866020.00 204.84 205.33 200.93
5  2018/11/07 207.64 30966223.33 207.17 208.73 204.38
6  2018/11/06 207.40 30118543.33 205.96 208.30 204.19
7  2018/11/05 205.10 43712843.33 204.06 206.39 201.33
8  2018/11/02 204.28 62964483.33 205.26 207.59 201.76
9  2018/11/01 210.43 70024266.67 210.97 213.47 206.80

Head of the dataset with window size 5:

         date  close      volume   open   high    low
0       16:00    NaN         NaN    NaN    NaN    NaN
1  2018/11/13    NaN         NaN    NaN    NaN    NaN
2  2018/11/12    NaN         NaN    NaN    NaN    NaN
3  2018/11/09    NaN         NaN    NaN    NaN    NaN
4  2018/11/08 198.32 40773042.80 199.58 202.07 197.14
5  2018/11/07 201.86 38123082.00 202.43 204.64 199.67
6  2018/11/06 204.17 35132884.00 204.48 206.15 201.72
7  2018/11/05 205.65 38149112.00 205.54 207.06 202.60
8  2018/11/02 206.26 49494872.00 206.34 208.59 203.23
9  2018/11/01 209.00 55027832.00 208.16 211.04 205.25

2.8 Combine describe with transpose (T) - Use the ”describe” function to describe the ”apple” dataset, and then transpose
the summary using T.

In [22]:
#Using describe() 
summary_stats = data3.describe()

#Transpose code
transposed_summary = summary_stats.T

#Result
print("Transposed summary statistics:")
print(transposed_summary)

Transposed summary statistics:
       count   mean   std    min    25%    50%    75%    max
close 254.00 189.08 20.00 155.15 172.80 185.43 207.52 232.07
open  254.00 189.02 19.98 154.83 172.87 185.24 207.22 230.78
high  254.00 190.80 20.22 157.89 174.27 187.13 209.21 233.47
low   254.00 187.38 19.69 150.24 171.79 183.92 205.47 229.78

2.9 Add a style to your dataframe

In [25]:
#Subset of the first 20 lines
subset_data = data3.head(20)

#1. Create a heatmap for the column ”close” using df.style.background gradient
heatmap_data = subset_data[['close']]

#Color map for the heatmap
cmap = sns.light_palette("navy", as_cmap=True)

#Apply the background gradient to the "close" column
heatmap_styled = heatmap_data.style.background_gradient(cmap=cmap)

#Printing the heatmap
print("Heatmap for the 'close' column:")
heatmap_styled

#2. Highlight the minimum and maximum values for each column (except dates), using, notably highlight min
highlighted_data = subset_data.drop(columns=['date']).style.highlight_min(axis=0, color='lightgreen').highlight_max(axis=0, color='lightcoral')

#Result with min and max values
print("\nDataFrame with Min and Max Values Highlighted:")
highlighted_data

Heatmap for the 'close' column:

DataFrame with Min and Max Values Highlighted: